.Rproj
.user
.Rhistory
.RData
.Ruserdata
.spatial
.Rproj.user
spatial/
data/
figs/
images/
iucn_classifier/
important_refs/
R/NOT USED/
drafts/
output/
*.docx
*.gdoc
IUCN_token.txt
IUCN_GFW_Appendix.rmd
ScientificReportsSubmission/